html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.logo:hover {
    background-color: #333;
    transform: scale(1.1);
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    position: relative;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    text-decoration: underline;
}


.nav-menu li {
    margin: 0;
}

.nav-menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
}