.header-iner {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3cbd9;
}

.phon {
    text-align: right;
}

.phone-link {
    font-weight: 500;
    font-size: 18px;
    color: #2c332f;
    transition: color 0.2s;
}
.phon p {
    margin-bottom: 8px;
}
.phon a:hover {
    color: #3596ED;
}